
 .f36ba892f4fb4f1d8b6c3da373a5c990 {
    fill: var(--text-color);
  }
  .f36ba892f4fb4f1d8b6c3da373a5c990,
  .f53279ac53cf481dab150571d98587b0 {
    stroke: #171721;;
    stroke-miterlimit: 10;
  }
  .f53279ac53cf481dab150571d98587b0 {
    font-size: 12px;
    /* font-family: MyriadPro-Regular, Myriad Pro; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }