@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
:root{
  --background-color : #171721;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}
body {
  background-color: var(--background-color);
  font-family: 'Quicksand', sans-serif;
  color: whitesmoke;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App{
  max-width: 800px;
  margin: 0 auto;
}
.restraint{
  max-width: 80%;
  margin: auto;
  padding: 1rem 0;
}

@media screen and (max-width : 400px){
  .restraint{
    max-width: 100%;
    padding: 1rem; 
  }
}